.data-grid-container {
  font-family: readex;
  margin-top: 2em;
  width: 100%;
}

.customers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date-reload-container {
  display: flex;
  height: 3.5em;
  width: 100%;
  justify-content: center;
}

.reload-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px 6px;
}

.reload-icon-container img {
  width: 70%;
  height: 70%;
  cursor: pointer;
}

.late-for-payment-cellitem {
  color: red;
  background-color: rgb(218, 134, 134);
}

.notlate-payment-cellitem {
}

.late-pay-date {
  background-color: rgb(218, 134, 134);
}

.today-pay-date {
  background-color: rgb(228, 255, 185);
}
