.financesSummary-page {
  height: 70vh;
}

.financesSummary-page_header {
  text-align: center;
}

.cellLtr {
  direction: ltr;
  text-align: center;
}

.financesSummary-page_content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.financesSummary-page_action-button {
  margin: 20px 0 30px 0;
  width: fit-content;
}
