/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html,
body,
#root,
.App,
.main-content,
.main-nav {
  height: 100%;
}

.App {
  display: flex;
}

.main-content {
  background-color: rgb(49, 49, 49);
  width: 75%;
}

.main-content,
.main-nav {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.main-nav {
  width: 25%;
}

.bringFromTheLeft {
  right: 0 !important;
}

.bringFromTheTop {
  bottom: 0 !important;
}

.inputs-control {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 1.5em;
}

.image-dragndrop_container {
  height: fit-content;
  width: 100%;
}

.image-dragndrop {
  background-color: rgb(192, 192, 192);
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  border: grey 2px dashed;
  margin-bottom: 1.2em;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  background-color: rgb(192, 192, 192);
  text-align: center;
}

.unvalid {
  border: 2px red solid;
}
