html,
body,
#root,
.App,
.main-content,
.main-nav {
  height: 100%;
}

.App {
  display: flex;
}

.main-content {
  background-color: rgb(49, 49, 49);
  width: 75%;
}

.main-content,
.main-nav {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.main-nav {
  width: 25%;
}

.bringFromTheLeft {
  right: 0 !important;
}

.bringFromTheTop {
  bottom: 0 !important;
}

.inputs-control {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 1.5em;
}

.image-dragndrop_container {
  height: fit-content;
  width: 100%;
}

.image-dragndrop {
  background-color: rgb(192, 192, 192);
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  border: grey 2px dashed;
  margin-bottom: 1.2em;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  background-color: rgb(192, 192, 192);
  text-align: center;
}

.unvalid {
  border: 2px red solid;
}

.no-border {
  border: none;
  outline: none;
}

.no-border:focus {
  border: none;
}
