body {
  margin: 0;
  font-family: readex, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: readex;
  background-color: white;
  outline: none;
  border: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: jenine;
  src: url('./assets/fonts/jenine-semi-bold.otf');
}

@font-face {
  font-family: readex;
  src: url('./assets/fonts/Readex-Pro/ReadexPro-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: readex;
  src: url('./assets/fonts/Readex-Pro/ReadexPro-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: readex;
  src: url('./assets/fonts/Readex-Pro/ReadexPro-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: readex;
  src: url('./assets/fonts/Readex-Pro/ReadexPro-Bold.ttf');
  font-weight: 600;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input {

}

