.products-form {
  padding: 2px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-form textarea {
  width: 100%;
  margin-bottom: 1.2em;
}

.image-placeholder .image-placeholder_delete {
  font-size: 1.4em;
}

.upFront-inputs {
  justify-content: space-around;
}
